# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

name: Tests
on:
  pull_request_target:
    types: [opened, reopened, synchronize]
  merge_group:
    types: [checks_requested]
jobs:
  test:
    name: "Run tests"
    uses: eclipse-score/cicd-workflows/.github/workflows/tests.yml@main
    permissions:
      contents: read
      pull-requests: read
    with:
      bazel-target: 'test //src/...'
